mat-card::ng-deep.mat-card-header-text {
  margin-left: 0;
}

.task
{
  border: lightblue solid 3px;
  margin:20px;
  width: fit-content;

  &:hover
  {
    background-color: lightgray;
  }

  mat-card-title
  {

    >span
    {
      margin-left: 50px;
      font-weight: normal;
    }
  }
}
