mat-toolbar
{
  display: flex;
  justify-content: space-between;

  >img
  {
    height: 80%;
    width: auto;
  }
  >div.buttons
  {
    .button{
      padding: 0 0;
    }
    >button:not(:last-child)
    {
      margin-right: 1em;
    }
  }
}
