mat-toolbar
{
  display: flex;
  justify-content: space-between;

  >img
  {
    height: 80%;
    width: auto;
  }
  >div.buttons
  {
    >button:not(:last-child)
    {
      margin-right: 20px;
    }
  }
}
