/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.successful {
  background-color: green;
  color: white;
}
.error {
  background-color: rgb(167, 0, 0);
  color: white;
}

.info {
  background-color: rgb(255, 197, 37);
  color: Black;
}
